{% block title %}<title>Registro de Usuario</title> {% endblock %}

{% block librerias %}
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize/css/materialize.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/style.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/page-center.css') }}"
          media = "screen,projection"/>
    <!--Import Google Icon Font-->
    <link href = "http://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/lolibox/css/Lobibox.min.css') }}">
    <script src = "{{ asset('libs/lolibox/js/lobibox.min.js') }}"></script>

    <script type = "text/javascript" src = "{{ asset('libs/materialize/js/jquery.js') }}"></script>
    <!--materialize js-->
    <script type = "text/javascript" src = "{{ asset('libs/materialize/js/materialize.js') }}"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type = "text/javascript" src = "{{ asset('libs/materialize_admin/js/plugins.js') }}"></script>


    <script type = "text/javascript" src = "{{ asset('libs/validation/jquery.validate.js') }}"></script>
    <script type = "text/javascript" src = "{{ asset('libs/validation/additional-methods.js') }}"></script>

{% endblock %}

{% block body %}
    <body class = "cyan">
    <div id = "register-page" class = "row">
        <div class = "col s12 z-depth-4 card-panel">
            <form class = "col s12 usuario" id = "usuario" name = "usuario" action = "{{ path('registro') }}"
                  method = "post">

                <div class = "row">
                    <div class = "col s12">
                        <div class = "center">
                            <h4 class="center red-text">Registrate</h4>
                            <h5 class = "center blue-text">¡Unete a nuestra pagina!</h5>
                        </div>
                    </div>
                </div>

                <div class = "row">
                    <div class = "col l6 s12">
                        <fieldset>
                            <legend>Datos Personales</legend>
                            <div class = "row margin">
                                <div class = "input-field col s6">
                                    <i class = "mdi-social-person-outline prefix"></i>
                                    {{ form_label(formulario.nombre, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.nombre) }}
                                    <div class = "error">{{ form_errors(formulario.nombre) }}</div>
                                </div>

                                <div class = "input-field col s6">
                                    {{ form_label(formulario.apellidos, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.apellidos) }}
                                </div>
                            </div>

                            <div class = "row margin">
                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">cake</i>
                                    {{ form_label(formulario.fecha_nacimiento, null, {'label_attr': {'class': 'center-align active'}}) }}
                                    {{ form_widget(formulario.fecha_nacimiento, { 'attr': {'class': 'datepicker'} } ) }}
                                </div>
                            </div>

                            <div class = "row margin">
                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">credit_card</i>
                                    {{ form_label(formulario.dui, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.dui) }}
                                </div>
                            </div>

                            <div class = "row margin">
                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">home</i>
                                    {{ form_label(formulario.direccion, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.direccion, { 'attr': { 'class': 'materialize-textarea' }}) }}
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class = "col l6 s12" >
                        <fieldset>
                            <legend>Datos de Acceso</legend>

                            <div class = "row margin">
                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">email</i>
                                    {{ form_label(formulario.email, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.email) }}
                                </div>
                            </div>

                            <div class = "row margin">
                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">lock</i>
                                    {{ form_label(formulario.password.first, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_errors(formulario.password) }}
                                    {{ form_widget(formulario.password.first ) }}
                                </div>

                                <div class = "input-field col s12">
                                    <i class = "material-icons prefix">lock</i>
                                    {{ form_label(formulario.password.second, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_errors(formulario.password) }}
                                    {{ form_widget(formulario.password.second ) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class = "row">
                    <div class = "col l12 s12">
                        <fieldset>
                            <legend>Datos Economicos</legend>
                            <div class = "row margin center">
                                <div class = "input-field col l6 s12">
                                    <i class = "material-icons prefix">credit_card</i>
                                    {{ form_label(formulario.numeroTarjeta, null, {'label_attr': {'class': 'center-align'}}) }}
                                    {{ form_widget(formulario.numeroTarjeta) }}
                                </div>

                                <div class = "input-field col l6 s12">
                                    <label class = "active">Seleccione su ciudad</label>
                                    {{ form_widget(formulario.ciudad) }}
                                </div>
                            </div>

                            <div class = "row center">
                                <div class = "input-field col s12 l12">

                                    {{ form_widget(formulario.permite_email) }}
                                    {#Obtengo el id de la variable que deseo ver en http://symfony.com/doc/current/reference/forms/twig_reference.html#}
                                    {{ form_label(formulario.permite_email) }}

                                </div>

                                {{ form_rest(formulario) }}
                            </div>

                        </fieldset>
                    </div>

                </div>

                <div class = "center">
                    <button class = "btn waves-effect waves-light" type = "submit" name = "action">Submit</button>
                </div>
            </form>
        </div>
    </div>

    </body>



{% endblock %}


